<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-th-large"></i>
                        Project
                    </h3>
                    <h5>editor</h5>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-md-3">
                <ng:include src="'partials/project/projects.html'"></ng:include>
            </div>
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <div class="title">Project - <span class="highlight">{{project.displayName}}</span></div>
                    </div>
                    <div class="box-content">

                    <form name="projectForm" class="form-horizontal fill-up validatable">
                        <div class="padded">
                            <control-group label="Name" id="name">
                                <div class="col-sm-11">
                                    <input type="text" name="name" id="name" ng-model="project.name" required ng-disabled="project.id" unique="uniqueProject()">
                                    <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="projectForm.name.$dirty && projectForm.name.$invalid">
                                        <div class="formErrorContent" ng-show="projectForm.name.$error.required">* Name is required.<br></div>
                                        <div class="formErrorContent" ng-show="projectForm.name.$error.unique">* This name is already in use<br></div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='projectForm.name.$valid'/>
                                </div>
                            </control-group>
                            <control-group label="Display name" id="displayName">
                                <div class="col-sm-11">
                                    <input type="text" name="displayName" id="displayName" ng-model="project.displayName" required>
                                    <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="projectForm.displayName.$dirty && projectForm.displayName.$invalid">
                                        <div class="formErrorContent" ng-show="projectForm.displayName.$error.required">* Name is required.<br></div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='projectForm.displayName.$valid'/>
                                </div>
                            </control-group>
                            <div data-ng-repeat="source in sources">
                                <control-group label="{{source.name}}" id="{{project.infos}}">
                                    <div data-ng-repeat="info in project.infos | filter: {name: source.name}">
                                        <div class="col-sm-11">
                                            <input type="text" id="project.infos" name="project.infos" ng-model="info.value">
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </control-group>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-blue" ng-click="save()"
                                    ng-disabled="isClean() || projectForm.$invalid">Save changes
                            </button>
                            <a class="btn btn-default" href="#/settings">Cancel</a>

                            <div class="pull-right">
                                <div>
                                    <button ng-click="destroy()" ng-show="project.id" class="btn btn-red">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>