<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-external-link"></i>
                        Source
                    </h3>
                    <h5>editor</h5>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid padded">

        <div class="row-fluid">
            <div class="col-md-3">
                <ng:include src="'partials/source/sources.html'"></ng:include>
            </div>
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <div class="title">Source - <span class="highlight">{{source.name}}</span></div>
                    </div>
                    <div class="box-content">
                    <form name="sourceForm" class="form-horizontal fill-up">
                        <div class="padded">
                            <control-group label="Name" id="name">
                                <div class="col-sm-11">
                                    <input type="text" name="name" id="name" ng-model="source.name" required ng-disabled="source.id" unique="uniqueSource()">
                                    <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.name.$dirty && sourceForm.name.$invalid">
                                        <div class="formErrorContent" ng-show="sourceForm.name.$error.required">* Name is required.<br></div>
                                        <div class="formErrorContent" ng-show="sourceForm.name.$error.unique">* This name is already in use<br></div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='sourceForm.name.$valid'/>
                                </div>
                            </control-group>

                            <control-group label="Url" id="url">
                                <div class="col-sm-11">
                                    <input type="url" name="url" id="url" ng-model="source.url" required>
                                    <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.url.$dirty && sourceForm.url.$invalid">
                                        <div class="formErrorContent" ng-show="sourceForm.url.$error.required">* Url is required.<br></div>
                                        <div class="formErrorContent" ng-show="sourceForm.url.$error.url">* This url is not valid.<br></div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='sourceForm.url.$valid'/>
                                </div>
                            </control-group>

                            <control-group label="Caching time" id="cacheTime">
                                <div class="col-sm-11">
                                    <input type="cacheTime" name="cacheTime" id="cacheTime" ng-model="source.cacheTime" required>
                                    <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.cacheTime.$dirty && sourceForm.cacheTime.$invalid">
                                        <div class="formErrorContent" ng-show="sourceForm.cacheTime.$error.required">* Cache time is required.<br></div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='sourceForm.cacheTime.$valid'/>
                                </div>
                            </control-group>

                            <control-group label="Authentication" id="authentication">
                                <div class="col-sm-11">
                                    <div class="selector fixedWidth">
                                        <span style="-webkit-user-select: none;">{{authenticationLabel(source.authentication)}}</span>
                                        <select class="uniform" ng-model="source.authentication" id="authentication" name="authentication">
                                            <option ng-repeat="option in authenticationOptions" value="{{option.value}}">{{option.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <state-icon config='stateConfig' state='sourceForm.authentication.$valid'/>
                                </div>
                            </control-group>

                            <div ng-switch on="source.authentication">
                                <div ng-switch-when="rsa">
                                    <control-group label="Consumer key" id="consumerKey">
                                        <div class="col-sm-11">
                                            <input type="text" name="consumerKey" id="consumerKey" ng-model="source.consumerKey" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.consumerKey.$dirty && sourceForm.consumerKey.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.consumerKey.$error.required">* Consumer key is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.consumerKey.$valid'/>
                                        </div>
                                    </control-group>
                                    <control-group label="Consumer key" id="privateKey">
                                        <div class="col-sm-11">
                                            <textarea name="privateKey" id="privateKey" ng-model="source.privateKey" required></textarea>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.privateKey.$dirty && sourceForm.privateKey.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.privateKey.$error.required">* Consumer key is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.privateKey.$valid'/>
                                        </div>

                                    </control-group>
                                    <control-group label="Oauth token" id="oauthToken">
                                        <div class="col-sm-11">
                                            <input type="password" name="oauthToken" id="oauthToken" ng-model="source.oauthToken" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.oauthToken.$dirty && sourceForm.oauthToken.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.oauthToken.$error.required">* Consumer key is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.oauthToken.$valid'/>
                                        </div>
                                    </control-group>
                                </div>
                                <div ng-switch-when="hmac">
                                    <control-group label="Consumer key" id="consumerKey">
                                        <div class="col-sm-11">
                                            <input type="text" name="consumerKey" id="consumerKey" ng-model="source.consumerKey" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.consumerKey.$dirty && sourceForm.consumerKey.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.consumerKey.$error.required">* Consumer key is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.consumerKey.$valid'/>
                                        </div>
                                    </control-group>
                                    <control-group label="Consumer secret" id="consumerSecret">
                                        <div class="col-sm-11">
                                            <input type="password" name="consumerSecret" id="consumerSecret" ng-model="source.consumerSecret" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.consumerSecret.$dirty && sourceForm.consumerSecret.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.consumerSecret.$error.required">* Consumer secret is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.consumerSecret.$valid'/>
                                        </div>
                                    </control-group>
                                    <control-group label="Oauth token" id="oauthToken">
                                        <div class="col-sm-11">
                                            <input type="password" name="oauthToken" id="oauthToken" ng-model="source.oauthToken" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.oauthToken.$dirty && sourceForm.oauthToken.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.oauthToken.$error.required">* Oauth token is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.oauthToken.$valid'/>
                                        </div>
                                    </control-group>
                                    <control-group label="Oauth secret" id="oauthSecret">
                                        <div class="col-sm-11">
                                            <input type="password" name="oauthSecret" id="oauthSecret" ng-model="source.oauthSecret" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.oauthSecret.$dirty && sourceForm.oauthSecret.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.oauthSecret.$error.required">* Oauth secret is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.oauthSecret.$valid'/>
                                        </div>
                                    </control-group>
                                </div>
                                <div ng-switch-when="basic">
                                    <control-group label="Username" id="username">
                                        <div class="col-sm-11">
                                            <input type="text" name="username" id="username" ng-model="source.username" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.username.$dirty && sourceForm.username.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.username.$error.required">* Username is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.username.$valid'/>
                                        </div>
                                    </control-group>
                                    <control-group label="Password" id="password">
                                        <div class="col-sm-11">
                                            <input type="password" name="password" id="password" ng-model="source.password" required>
                                            <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="sourceForm.password.$dirty && sourceForm.password.$invalid">
                                                <div class="formErrorContent" ng-show="sourceForm.password.$error.required">* Password is required.<br></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <state-icon config='stateConfig' state='sourceForm.password.$valid'/>
                                        </div>
                                    </control-group>
                                </div>
                                <div ng-switch-default></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-blue" ng-click="save()"
                                    ng-disabled="isClean() || sourceForm.$invalid">Save changes
                            </button>
                            <a class="btn btn-default" href="#/settings">Cancel</a>

                            <div class="pull-right">
                                <div>
                                    <button ng-click="destroy()" ng-show="source.id" class="btn btn-red">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>