<div class="row" ng-controller="jenkinsCtrl" data-ng-show="hasSource('jenkins')">

    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <span class="title">Build status</span>
                <ul class="box-toolbar" data-ng-cloak>
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                </ul>
            </div>
            <div class="box-content boxed table-responsive" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
                <datatable config="buildStatusesConfig" class="table table-normal"/>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <span class="title">Build duration</span>
                <ul class="box-toolbar">
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                </ul>
            </div>
            <div class="box-content padded boxed">
                <chart identifier="executionTimesIdentifier"
                       data="executionTimesData"
                       type="line-dotted"
                       options="executionTimesChartOptions"
                       style="height:200px;"></chart>
            </div>
        </div>
    </div>
</div>