<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-dashboard"></i>
                        Dashboard for <span class="important">{{project.displayName}}</span>
                    </h3>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="container-fluid padded">
            <div ng-include="'partials/overview/jenkins.html'"></div>
            <div ng-include="'partials/overview/sonar.html'"></div>
            <div ng-include="'partials/overview/vcss.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>