<div class="row" data-ng-controller="stashCtrl" data-ng-show="hasSource('stash')">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <span class="title">Commit activity</span>
                <ul class="box-toolbar" data-ng-cloak>
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                    <li>
                        <div class="selector" style="width: 215px;"><span style="width: 208px; -webkit-user-select: none;">{{branch.name}}</span>
                            <select ng-model="branch" ng-options="b.name for b in branches" ng-change="fetchCommits()"></select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-content padded" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
                <div class="row">
                    <chart identifier="source + 'Activity'"
                           data="commitActivityData"
                           type="bar"
                           options="commitActivityChartOptions"
                           style="height:200px;"></chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-controller="bitbucketCtrl" data-ng-show="hasSource('bitbucket')">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <span class="title">Commit activity</span>
                <ul class="box-toolbar">
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                    <li>
                        <div class="selector" style="width: 215px;"><span style="width: 208px; -webkit-user-select: none;">{{branch.name}}</span>
                            <select ng-model="branch" ng-options="b.name for b in branches" ng-change="fetchCommits()"></select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-content padded" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
                <div class="row">
                    <chart identifier="source + 'Activity'"
                           data="commitActivityData"
                           type="bar"
                           options="commitActivityChartOptions"
                           style="height:200px;"></chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-controller="githubCtrl" data-ng-show="hasSource('github')">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <span class="title">Commit activity</span>
                <ul class="box-toolbar">
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                    <li>
                        <div class="selector" style="width: 215px;"><span style="width: 208px; -webkit-user-select: none;">{{branch.name}}</span>
                            <select ng-model="branch" ng-options="b.name for b in branches" ng-change="fetchCommits()"></select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-content padded" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
                <div class="row">
                    <chart identifier="source + 'Activity'"
                           data="commitActivityData"
                           type="bar"
                           options="commitActivityChartOptions"
                           style="height:200px;"></chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-controller="gitblitCtrl" data-ng-show="hasSource('gitblit')">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <span class="title">Commit activity</span>
                <ul class="box-toolbar">
                    <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
                    <li>
                        <div class="selector" style="width: 215px;"><span style="width: 208px; -webkit-user-select: none;">{{branch.name}}</span>
                            <select ng-model="branch" ng-options="b.name for b in branches" ng-change="fetchCommits()"></select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-content padded" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
                <div class="row">
                    <chart identifier="source + 'Activity'"
                           data="commitActivityData"
                           type="bar"
                           options="commitActivityChartOptions"
                           style="height:200px;"></chart>
                </div>
            </div>
        </div>
    </div>
</div>