<div class="sidebar-background">
    <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
    <ul class="nav navbar-collapse collapse navbar-collapse-primary">
        <li class="active">
            <span class="glow"></span>
            <a data-toggle="modal" href="#project-selector">
                <i class="icon-dashboard icon-2x"></i>
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
    <ul class="product-info navbar-fixed-bottom" >
        <li>
            <div style="text-align:center; width:150px;padding-bottom: 25px;">
                <span class="ng-binding">Walli @ {{version}}</span><br>
                <span>Build by </span><span ng-bind-html="configuration('buildBy') | trusted"></span>
            </div>
        </li>
    </ul>
</div>
