<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Walli - project dashboard</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
            <span class="sr-only">Toggle Top Navigation</span>
            <i class="icon-align-justify"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-collapse-top" data-ng-controller="authenticationCtrl">
        <div class="navbar-right">
            <ul class="nav navbar-nav navbar-left">
                <li class="cdrop active"><a modal="#project-selector"><i class="icon-th-large"></i> <span>Projects</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="padded">
            <div class="login box" style="margin-top: 80px;">
                <div class="box-header">
                    <span class="title">Login</span>
                </div>
                <div class="box-content padded" ng-controller="authenticationCtrl">
                    <form name="loginForm" class="separate-sections" ng-submit="login()">
                        <div class="input-group addon-left">
                            <span class="input-group-addon" href="#">
                                <i class="icon-user"></i>
                            </span>
                            <input type="text" placeholder="username" ng-model="user.username">
                        </div>
                        <div class="input-group addon-left">
                            <span class="input-group-addon" href="#">
                                <i class="icon-key"></i>
                            </span>
                            <input type="password" placeholder="password" ng-model="user.password">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-blue btn-block" ng-click="loginForm.submit()">
                                Login <i class="icon-signin"></i>
                            </button>
                        </div>
                        <div class="alert alert-error" ng-show="message">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <strong>Oh snap!</strong> {{message}}.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="project-selector" class="modal fade" ng-include="'partials/project/project-selector.html'"></div>
